@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

* {
    font-family: "Passion One", sans-serif;
}

:root {
    /* Dimensions */
    --side: 10vh;
    /* Font */
    --font-size: 3rem;
    /* Colors */
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --tertiary-color: #3498db;
    --quaternary-color: #e74c3c;
    --quinary-color: #f1c40f;
    --senary-color: #2ecc71;

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, var(--side));
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    border: 1px solid black;
    width: var(--side);
    height: var(--side);
    /* Center the content */
    display: grid;
    place-content: center;
    font-size: var(--font-size);
    font-weight: 700;
}